body {
    margin: 1em 5em 0 5em;
    font-family: sans-serif;
}

fieldset {
    display: inline;
    padding: 1em;
}

#submit {
    color: #ffffff;
    background-color: #3c3c3c;
    border-color: #3c3c3c;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px 12px;
    font-size: 15px;
    line-height: 1.4;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}