<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <title>Captcah Harvester</title>
</head>

<body>

    <form action="/register" method="POST">
        <input type="text" name="domain" placeholder="domain">
        <input type="text" name="sitekey" placeholder="sitekey">
        <button type="submit">Submit</button>
    </form>
    <br><br>
    Before clicking Submit, make sure you have configured your system to use
    `127.0.0.1` as a DNS server.
    <br><br>
    After clicking Submit, you will be forwarded to the spoofed host. Depending on
    yout browser, it may still point to the orginial site, in which case you'll need
    to flush the DNS cache.
    <br><br>
    I found Safari was the best browser, because you can simply call
    `sudo killall -HUP mDNSResponder`. Be warned! Chrome has MASSIVE problems
    when it comes to clearing the DNS cache. I gave up with Chrome.
    <br><br>
    I did this pretty hacky/speedy so I'm leaving this a little bit of a mess, but I'll
    clean it up soon. Hopfully...
</body>

</html>