<html>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <head>
    <title>Captcha Harvester</title>
    <style type="text/css">
      body {
        margin: 1em 5em 0 5em;
        font-family: sans-serif;
      }
      fieldset {
        display: inline;
        padding: 1em;
      }
    </style>
  </head>
  <body>
  <center>
  <h3>Captcha Token Harvester</h3>
  <h5>HTML by: @pxtvr</h5>
  <h5>Python by: @Cosm00_</h5>
  <form action="/solve" method="post">
    <fieldset>
      <div class="g-recaptcha" data-sitekey="{{ sitekey }}" data-callback="sub"></div>
      <script type="text/javascript" src="https://www.google.com/recaptcha/api.js"></script>
      <p>
        <input type="submit" value="Submit" id="submit" style="
            color: #ffffff;
            background-color: #3c3c3c;
            border-color: #3c3c3c;
            display: inline-block;
            margin-bottom: 0;
            font-weight: normal;
            text-align: center;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            background-image: none;
            border: 1px solid transparent;
            white-space: nowrap;
            padding: 8px 12px;
            font-size: 15px;
            line-height: 1.4;
            border-radius: 0;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        ">
      </p>
    </fieldset>
  </form>
  <fieldset>
    <h5 style="width: 10vh;"><a style="text-decoration: none;" href="/json" target="_blank">Usable Tokens</a></h5>
  </fieldset>
</center>
<script>
  function sub(){
    document.getElementById("submit").click();
  }
</script>
  </body>
</html>
